@model IEnumerable<ENTIDADES.Transacciones>

@{
    ViewBag.Title = "Historial";
}

<h2>Historial</h2>

<a class="btn btn-outline-danger bg-light text-dark" id="sizeShape" href="/Cliente/Cliente">Atras</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero_cuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_cuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
        </tr>
    }

</table>
