@model IEnumerable<ENTIDADES.CvCuentas>

@{
    ViewBag.Title = "VistaAhorro";
}

<h2>Cuentas de ahorro</h2>

<a class="btn btn-outline-warning bg-light text-dark" id="sizeShape" href="/Administrador/IngresarCuenta">Nuevo</a>
<a class="btn btn-outline-danger bg-light text-dark" id="sizeShape" href="/Administrador/Inicio">Atras</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_cuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saldo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_cuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
        </tr>
    }

</table>
